/* Header styling for nav bar and Name */
:root {
  --background-color: #ffd580;
  --text-color: black;
}
section {
  padding-bottom: 50px;
}
h3 {
   text-align: right;
   padding-left: 40px;
   padding-right: 10px;
   border-right: 2px solid black;
 }
 li {
   display: inline-block;
   font-size: 20px;
 }
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}
header h1 {
  color: var(--text-color);
  font-size: 60px;
  background-color: var(--background-color);
}
nav ul li a {
  border-color: black;
  color: var(--text-color);
  padding-right: 5px;
  text-decoration: underline;
}
nav ul {
  list-style-type: none;
}
/* Banner styling containing img and portfolio title */

.Banner {
  display:flex;
  flex-direction: column-reverse;
}
#background-img {
  position: relative;
  width: 100%;
  height: 200px;
}
.Banner h2 {
  position: relative;
  z-index: 1;
  align-self: flex-end;
  bottom: 60px;
  font-size: 50px;
}
#Ian-img{
  position:relative;
  border-radius:50%;
  top:200px;
  width:15%;
}

/* About me section within the main section */

.about-me {
  display: flex;
  flex-direction: row;
}
.about-me p {
  text-align: left;
  padding-left: 10px;
  font-size: 30px;
}

/* Work section within the main section */
.work {
  display: flex;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  justify-content: center;
  flex-direction: column;
  padding: 3px;
}

.card h4,
h5 {
  background-color: var(--background-color);
  text-align: left;
  position: relative;
  font-size: 25px;
  padding-left: 10px;
  bottom: 80px;
  width: 30%;
}
#project-1-img {
  width: 1600px;
  border: 5px solid var(--background-color);
  flex-shrink: 2;
}
#project-1-img:hover {
  border: 5px solid #f3deba;
  opacity: 0.5;
}
#project-2-img,
#project-3-img,
#project-4-img,
#project-5-img {
  width: 800px;
  max-width: 800px;

  border: 5px solid var(--background-color);
}
#project-2-img:hover,
#project-3-img:hover,
#project-4-img:hover,
#project-5-img:hover {
  border: 5px solid #f3deba;
  opacity: 0.5;
}
/* Contact section within the main section */
.contact {
  display: flex;
  flex-direction: row;
}
.contact ul {
  list-style-type: none;
  display: inline-block;
  align-items: center;
  width:100%;
}

.contact ul li a {
  border-color: black;
  color: var(--text-color);
  padding-right: 10px;
  text-decoration: underline;
  width:100%;
}


/* Footer with website credits */
footer {
  text-align: center;
}

h3 {
  font-size: 45px;
}
@media screen and (max-width: 1800px) {
  #project-1-img {
    width: 80%;
  }
  #project-2-img,
  #project-3-img,
  #project-4-img,
  #project-5-img {
    width: 70%;
  }
  .card h4,
  h5 {
    font-size: medium;
  }
}

@media screen and (max-width: 768px) {
  #project-1-img {
    width: 80%;
  }
  #project-2-img,
  #project-3-img,
  #project-4-img,
  #project-5-img {
    width: 75%;
    height: 75%;
  }
  .card h4,
  h5 {
    font-size: x-small;
  }
}
