.Banner img{
   width: 100%;
   display: block;
}
.Banner{
   display:flex;
   flex-direction: row-reverse;
}
.Banner h2{
   position: relative;
   align-self: flex-end;
   right: 100px;
   bottom:0;
}
header{
   display:flex;
   flex-direction: row;
   justify-content:space-between;
   align-items: center;
   background-color: #ABC4AA;

}
header h1{
   color:#675D50;
   font-size: 60px;
   background-color:#ABC4AA;

}
nav ul li a{
   border-color: black;
   color: #675D50;
   padding-right:5px;
   text-decoration: underline;
}
.about-me{
   display: flex;
   flex-direction: row;
}
.about-me h1{
   text-align: right;
}
.vl {
   padding-left: 5px;
   padding-right: 5px;
   border-left: 2px solid #675D50;
   margin-left: 5px;
 }
 .work{
   display: flex;
   flex-wrap: wrap;
 }
 .card{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   padding: 3px;
 }
#project-1-img{
   width:200px;
   height:200px;
 }
 #project-2-img{
   width:500px;
   height:300px;
 }
 #project-3-img{
   width:200px;
   height:200px;
 }
 .card h3,h5{
   background-color: #ABC4AA;
   position: relative;
   align-content: flex-start;
   text-align: right;

 }
 footer a{
   text-align: center;
 }